

	.navbar	{
	position: fixed;
  	z-index: 9999;
  	top: 0;
	display: inline-block;
	height: 50px;
    padding: 0;
	margin-top:0;
	margin-left: 35px;
	border:5px dotted #458B00; 
	width: auto;
	
	}


	.navbar li 	{
			
			height: auto;
			width: 150px;  /* Each menu item is 150px wide */
			float: left;  /* This lines up the menu items horizontally */
			text-align: center;  /* All text is placed in the center of the box */
			list-style: none;  /* Removes the default styling (bullets) for the list */
			font-family: KBZipaDeeDooDah;
  			font-size: 20px;
			padding: 0;
			margin: auto;
			background-color: #458B00;
     }

     .navbar a	{							
		padding: 18px 0;  /* Adds a padding on the top and bottom so the text appears centered vertically */
		border-left: 1px solid #458B00; /* Creates a border in a slightly lighter shade of blue than the background.  Combined with the right border, this creates a nice effect. */
		border-right: 1px solid #458B00; 
		text-decoration: none;  
		color: white; 
		display: block;
		}

	.navbar li:hover, a:hover {
		color:#324F17;
	} 


	.navbar li ul 	{
		display: none;  /* Hides the drop-down menu */
		height: auto;									
		margin: 0; /* Aligns drop-down box underneath the menu item */
		padding: 0; /* Aligns drop-down box underneath the menu item */			
		}		


	.navbar li:hover ul{
        display: block;
         /* Displays the drop-down box when the menu item is hovered over */
        }

    .navbar li ul li {
    	background-color: #458B00;
    } 

    .navbar li ul li a 	{
		border-left: 1px solid #458B00; 
		border-right: 1px solid #458B00; 
		border-top: 1px solid #458B00; 
		border-bottom: 1px solid #458B00; 
		}
				
	.navbar li ul li a:hover{
		
		transition: 1s;
    background-color: #324F17;
    color: white;
	}