.Focus-App{
    text-align: center;
    font-size: 14px;
    font-family: 'Helvetica Neue' ;
    line-height: 1.42857;
    color: #1fad33;
    height: 100%;
    width: 100%;
}


.Focus-sidenav {
    height: 100%;
    width: 600px;
    font-family: 'Helvetica Neue' ;
    position: fixed;
    z-index: 99999; /*Must stay same relative to heatmap, loading, and displayHelp*/
    top: 0;
    right: -600px;
    box-sizing: border-box;
    padding: 0 7px 5px;
    background-color:gray;
    overflow-x: hidden;
    overflow-y: scroll;
    transition: 0.5s;
    opacity: 0.2;
    filter: alpha(opacity=50);
}

.Focus-sidenav:hover {
    opacity: 1.0;
    filter: alpha(opacity=100);
}

.Focus-sidenav .dateContainer{
    display: inline-block;
    vertical-align: top;
    height: 150px; /*needs to be the same height as .controlPanel*/
    box-sizing: border-box;
    width : 50%; /*other percentage is .controlPanelr*/
}

.Focus-sidenav .dateLabel {
    color: inherit;
    display: inline-block;
    width: 50%;
}

.Focus-sidenav input[type="text"] {
    color: black;
    border-radius: 25px;
    height: 20px;
    width: 100px;
    box-sizing: border-box;
    padding: 4px 7px;
    font-size: 12px;
    border-width: 1px;
    margin-bottom: 5px;
}

.Focus-sidenav input[type="submit"]{
    color: #FFFFFF;
    background-color:green;
    box-sizing: border-box;
    height: 30px;
    width: 70px;
    border-radius: 20px;
    border-width: 0px;
    font-size: 12px;
    margin-bottom: 10px;
    padding: 5px 5px 5px 5px;
}

.rc-time-picker-panel {
    z-index: 100002 !important; /*Must stay same relative to dashboard, heatmap, loading, and displayHelp*/
}

.react-datepicker {
    font-size: 12px !important;
}

.react-datepicker__day-name, .react-datepicker__day {
  width: 1.7em !important;
  line-height: 1.7em !important;
  margin: 0.166em !important;
}

.react-datepicker__current-month {
  font-size: 1em !important;
}